<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Login</title>
</head>
<body>
	<section>
		<div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12" style="height: 230px;">
                       
                       
                       <!--message box-->
                       <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary mt-2" role="alert">
							<p class="text-center" th:text="${session.message.content}"></p>
							<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>			
						</div>
                       <form action="" th:action="@{/verify-otp}" method="post">
						   
						   <div class="form-group">
						   <input type="number" name="otp" required placeholder="Enter OTP here" class="form-control" />
						   <div class="container text-center m-3">
							   <button class="btn btn-warning">Verify</button>
						   </div>
					   </div>
					   </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>	
</body>
</html>